<app-header></app-header>


<div class="container-fluid">
    <div class="row mt-5">
         <div class="col">
             <div class="col-4">
                 <div class="card">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Welcome</h4>
                        </div>
                        
                        <div class="submit"><button type="submit" class="btn btn-primary text-center" (click)="logout()">Logout</button></div>
                      </form>
                 </div>
             </div>
         </div>
    </div>

